<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <connectionStrings>
<add name="databaseConnection" connectionString="Data Source=tcp:s09.everleap.com;Initial Catalog=DB_6193_lrcadb;User ID=DB_6193_lrcadb_user;Password=ser1g0r_db$;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />  </connectionStrings>
  
  <system.web>
    <anonymousIdentification enabled="false" />
    <browserCaps>
      <case>RequiresControlStateInSession=true</case>
    </browserCaps>
   <authentication mode="Forms">
      <forms cookieless="UseCookies" domain="lrca20200812173447.azurewebsites.net" loginUrl="~/default.aspx" name=".lrca.local.aspxauth" path="/" protection="All" slidingExpiration="false" timeout="200" />
    <!--  <forms cookieless="UseCookies" domain="localhost" loginUrl="~/default.aspx" name=".lrca.local.aspxauth" path="/" protection="All" slidingExpiration="false" timeout="200" /> -->

	  </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="60" />
    <sessionPageState historySize="15" />
  </system.web>
  
  <appSettings>
<add key="databaseConnection" value="Data Source=tcp:s09.everleap.com;Initial Catalog=DB_6193_lrcadb;User ID=DB_6193_lrcadb_user;Password=ser1g0r_db$;" />    
    <!--
    <add key="databaseConnection" value="Data Source=s09.everleap.com;uid=DB_6193_lrcadb_user;Password=ser1g0r_db$;Initial Catalog=DB_6193_lrcadb;Persist Security Info=True;Connection Lifetime=0;" />
    <system.net>
    <defaultProxy>
      <proxy usesystemdefault="false" bypassonlocal="false" proxyaddress="http://ntproxyus.lxa.perfora.net:3128"/>
    </defaultProxy>
  </system.net>
 
 <add name="databaseConnection" connectionString="Data Source=s09.everleap.com;uid=DB_6193_lrcadb_user;Password=ser1g0r_db$;Initial Catalog=DB_6193_lrcadb;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  -->
    <add key="baseURL" value="https://sourcespoon.com" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="awsBucketName" value="prodsourcespoon" />
    <add key="Environment" value="development" />
    <add key="DisplayChapters:UseMediumEditor" value="false" />
    <add key="AWS:URL" value="https://prodsourcespoon.s3.amazonaws.com/" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <!-- ImageHandler handlers -->
      <add name="Image" verb="*" path="*.image" type="Sourcespoon.ImageHandler, Sourcespoon" />
      <add name="File" verb="*" path="*.cert" resourceType="Unspecified" type="LRCA.FileHandler, LRCA" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="90240000" />
        <filteringRules>
          <!-- name the rule -->
          <filteringRule name="user agent deny" scanUrl="false" scanQueryString="false">
            <scanHeaders>
              <!-- apply rule to user-agent header -->
              <add requestHeader="user-agent" />
            </scanHeaders>
            <appliesTo>
              <clear />
              <!-- only apply rule to php files -->
              <add fileExtension=".aspx" />
              <add fileExtension=".asp" />
            </appliesTo>
            <denyStrings>
              <clear />
              <!-- block the yandex bot -->
              <add string="sqlmap/1.0-dev" />
            </denyStrings>
          </filteringRule>
        </filteringRules>
      </requestFiltering>
    </security>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="CSSFrontEnd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bg-intro.jpg">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegisterClass.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CDetails.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="repassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>